<template>
  <div class="map-wrapper">
    <div ref="mapRoot" id="map" class="map" tabindex="0"></div>
  </div>
</template>
<script setup lang="ts">
import { ref, onMounted } from 'vue';

import Map from 'ol/Map';
import View from 'ol/View';
import TileLayer from 'ol/layer/Tile';
import OSM from 'ol/source/OSM';
import { setMap, setSource } from '@/store/map';
import { Vector as VectorSource } from 'ol/source.js';
import { Vector as VectorLayer } from 'ol/layer.js';

import 'ol/ol.css';

const mapRoot = ref<HTMLElement | undefined>();

const raster = new TileLayer({
  source: new OSM(),
});

const source = new VectorSource({ wrapX: false });

const vector = new VectorLayer({
  source: source,
});

const mapInit = (target: HTMLElement): void => {

  const map: Map = new Map({
    target,
    layers: [
      raster,
      vector
    ],
    view: new View({
      center: [-11000000, 4600000],
      zoom: 6
    })
  });

  setSource(source);
  setMap(map);
}

onMounted((): void => {
  if (!mapRoot.value) return;
  mapInit(mapRoot.value);
});


</script>
<style lang="scss">
@import url('./assets/style.scss');
</style>