<template>
    <div class="wrapper-panel">
        <div class="panel">
            <UiCheckbox @change="startEditor(!editorStatus)" :label="'Рисование'" />

            <div v-if="editorStatus">
                <UiButton @click="setType('Point')" :label="'Точка'" />
                <UiButton @click="setType('LineString')" :label="'Линия'" />
                <UiButton @click="setType('Polygon')" :label="'Полигон'" />
                <UiButton @click="setType('Circle')" :label="'Окружность'" />
            </div>

            <div v-if="editorStatus">
                <label><input @change="startHole" v-model="hole" type="radio" name="type" :value="false" />Рисование
                </label>
                <label><input @change="startHole" v-model="hole" type="radio" name="type" :value="true" />Отверстие
                </label>
            </div>

            <UiCheckbox @change="startDraggable(!draggableStatus)" :label="'Перетаскивание'" />
        </div>
    </div>
</template>
<script setup lang="ts">
import { ref, Ref } from 'vue';
import { map } from '@/store/map';

/**UI */
import { UiButton, UiCheckbox } from '@/components/UI';


import { editorInit, changeEditorType, editorRemove, editorStart, setHole } from './mapEditor';
import { draggableInit, draggableRemove } from './mapDraggable';
import { Type } from 'ol/geom/Geometry';


const editorStatus: Ref<boolean> = ref<boolean>(false);
const draggableStatus: Ref<boolean> = ref<boolean>(false);
const type: Ref<Type> = ref<Type>('Polygon');
const hole: Ref<boolean> = ref<boolean>(false);

const startEditor = (editor: boolean): void => {
    if (!map.value) return;

    editorStart(map.value);

    editorStatus.value = editor;
    if (editor) {
        hole.value = false;
        editorInit(map.value, type.value);
        setHole(hole.value);
        return;
    }
    editorRemove(map.value);
}

const startHole = (): void => {
    setHole(hole.value);
}

const setType = (t: Type): void => {
    if (!map.value) return;
    type.value = t;
    changeEditorType(map.value, type.value);
}


const startDraggable = (editor: boolean): void => {
    draggableStatus.value = editor;
    if (!map.value) return;

    if (editor) {
        return draggableInit(map.value);
    }
    draggableRemove(map.value);
}

</script>
<style lang="scss">
@import url('./assets/style.scss');
</style>