<template>
  <div class="wrapper">
    <div />
    <MapEditorWrapper />
  </div>
  <MapOpenLayers />
  
</template>

<script setup lang="ts">
import { MapOpenLayers } from './components/MapOpenLayers';
import { MapEditorWrapper } from './components/EditorExt';
</script>
<style lang="scss">
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 400px;
  pointer-events: none;
}
</style>
