<template>
  <button>{{ label }}</button>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: '`UiButton`',
  props: {
    label: {
      type: String
    }
  },
  components: {

  }
});
</script>