<template>
    <input v-model="check" type="checkbox" id="checkbox" :checked="initStatus" />
    <label for="checkbox">{{ label }}</label>
</template>
<script lang="ts">
import { defineComponent, ref, watch, onMounted} from 'vue';
export default defineComponent({
    name: '`UiCheckbox`',
    props: {
        label: {
            type: String
        },
        checked: {
            type: Boolean,
            required: false
        }
    },
    components: {

    },
    setup (props, { emit }) {
        const check = ref<boolean>();
        const initStatus = ref<boolean>();

        watch(()=>check.value, ()=> {
            emit('change',  check.value);
        });

        onMounted(()=>{
            initStatus.value = props.checked
        });

        return {
            check,
            initStatus
        }
    }
});
</script>